.loaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 200px;
  width: 100%;
}

  /* Spinner styles removed as we are using react-spinners */

.text {
  margin-top: 16px;
  color: var(--color-text-secondary);
  font-size: 0.875rem;
  font-weight: 500;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
