.container {
  height: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.125rem;
  font-weight: 600;
  margin: 0 0 24px 0;
  color: var(--color-text);
}

.chartWrapper {
  flex: 1;
  width: 100%;
  min-height: 300px;